body {
  background-color: #222222;
  color: #F0F0F0; 
}
.social-icon,
.social-icon:visited,
.social-icon:hover,
.social-icon:active {
  color: black; /* ou la couleur que tu veux */
  text-decoration: none;
}
