body {
  background-color: #222222;
  color: #F0F0F0; 
}
.social-icon {
  color: black !important;
  text-decoration: none;
}

.social-icon:visited,
.social-icon:hover,
.social-icon:active,
.social-icon:link {
  color: black !important;
}
